html{
    background-color: black;
}

div{
    position: relative;
    top: 40%;
    bottom: auto;
}

h1{
    color:white;
    font-size: 70px;
    text-decoration-color: red;
    text-align: center;
    font-family: 'Courgette', cursive;
    text-align: center;
}

table{
    width: 40%;
    position: relative;
    left: 30%;
}

td{
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: 'Courgette', cursive;
}